body {
  background-image: url(./images/monster.jpg);
  background-size: 1280px 720px;
}

header {
 font-size: 20px;
 text-align: center;
 margin: 0 auto;
 border: 2px solid black;
 height: 150px;
 width: 80%;
}

.underscores {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  height: 150px;
  width: 80%;
}

.rightGuess {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  height: 150px;
  width: 80%;
}

.wrongGuess {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid black;
  height: 150px;
  width: 80%;
}
